body {
    background-image: url('/uploads/bgnew.png'); /* or wherever it is */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

h1 {
  text-align: center;
  padding-top: 100px;
}